/* tags */
body{
    background-color: rgb(51, 50, 50);
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    margin: 0px;
}
span{
    float: right;
}
input{
    border: none;
    border-bottom: 1px solid rgba(150, 19, 150, 0.1);
    width: 287px;
    height: 156px;
    background-color: rgba(150, 30, 150, 0.45);
    font-size: 20px;
}

/* classes and IDs */
.calc{
    border: 1px solid rgba(150, 19, 150, 0.25);
    width: 290px;
    height: 497px;
    border-radius: 5px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(131, 18, 131, 0.712);
    position: relative;
    left: 520px;
    top: 45px;
    margin: 0px;
    box-shadow: 1px 1px 15px 15px rgba(150, 19, 150, 0.25);
}
.clear{
    width: 90px;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgba(150, 19, 150, 0.1);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(68, 5, 68);
}
.sm-cl{
    background-color: rgb(95, 8, 95);
}
.smcl{
    background-color: rgb(87, 61, 87);
}
.opt{
    display: flex;
}
.clear1{
    border-right: 1px solid rgba(150, 19, 150, 0.1);
}
.clear2{
    border-right: 1px solid rgba(150, 19, 150, 0.1);
}
.clear3{
    border-right: 1px solid rgba(150, 19, 150, 0.1);
}
.num1{
    display: flex;
}
.num2{
    display: flex;
}
.num3{
    display: flex;
}
.num4{
    display: flex;
}
.num5{
    display: flex;
}
.numb1{
    width: 85px;
    height: 60px;
    border: none;
    border-bottom: 1px solid rgba(150, 19, 150, 0.1);
    border-right: 1px solid rgba(150, 19, 150, 0.1);   
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.numb2{
    width: 73px;
    height: 60px;
    border: none;
    border-bottom: 1px solid rgba(150, 19, 150, 0.1);
    border-right: 1px solid rgba(150, 19, 150, 0.1);   
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.numb3{
    width: 73px;
    height: 60px;
    border: none;
    border-bottom: 1px solid rgba(150, 19, 150, 0.1);
    border-right: 1px solid rgba(150, 19, 150, 0.1);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.numb4{
    width: 73px;
    height: 60px;
    border: none;
    border-bottom: 1px solid rgba(150, 19, 150, 0.1);
    border-right: 1px solid rgba(150, 19, 150, 0.1);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.numb5{
    width: 73px;
    height: 60px;
    border: none;
    border-right: 1px solid rgba(150, 19, 150, 0.1);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.lastbutn{
    border-right: none;
}
.equal{
    width: 150px;
    background-color: rgba(95, 8, 95, 0.8);
}

/* hover */
.clear:hover{
    background-color: rgb(51, 3, 51);
}
.sm-cl:hover{
    background-color: rgb(73, 5, 73);
}
.smcl:hover{
    background-color: rgb(78, 55, 78);
}
.equal:hover{
    background-color: rgb(53, 12, 53);
}
input::placeholder{
    font-size: 35px;
    float: right;
}
.calc:hover{
    box-shadow: 3px 3px 20px 20px rgba(150, 19, 150, 0.25);
}