* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* tags  */

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #005cbf, #333);
    color: #fff;
}
header{
    position: sticky;
    top: 0px;
    z-index: 1;
}
header > div{
    background: linear-gradient(to right, #093c52, #062e58);
    padding: 50px 0;
    box-shadow: 0 5px 15px #0000004d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
header img {
    border-radius: 50%;
    margin-top: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    animation: grow-big 500ms ease-in-out 0s 1 alternate;
}
header h1 {
    font-size: 2.8em;
    color: #fff;
    margin-top: 20px;
    animation: grow-big 500ms ease-in-out 0s 1 alternate;
}
nav {
    padding: 15px 0;
    text-align: center;
    animation: grow-big 500ms ease-in-out 0s 1 alternate;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 25px;
    font-weight: 600;
    font-size: 1.3em;
    transition: color 0.3s ease;
}
main {
    position: relative;
    padding: 30px;
    z-index: 20;
}
section {
    padding: 40px;
    text-align: left;
    background-color: #333;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    margin: 30px 0;
    font-weight: 600;
}
section h2 {
    color: #60a0c5;
    margin-bottom: 30px;
}
section div {
    margin-bottom: 30px;
}
section p {
    font-size: 1.2em;
    color: #ccc;
    line-height: 1.8;
}
section a {
    text-decoration: none;
    color: bisque;
    font-weight: 700;
}
iframe {
    border-radius: 8px;
    border: 2px solid #7e4646;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #093c52, #062e58);
    color: #fff;
    padding: 25px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
footer p {
    font-weight: 600;
    font-size: 1.3em;
}

/* ids and classes */

#about {
    background-color: #ffffff1a;
    background-color: #2762A2;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
#skills{
    display: flex;
    flex-direction: column;
}
#skills span {
    font-size: 22px;
}
#skills > div {
    display: flex;
    justify-content: space-around;
}

/* animations */

@keyframes grow-big {
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

/* hover effects  */

nav a:hover {
    color: #60a0c5;
}