[submodule "PW_assignments"]
	path = PW_assignments
	url = git@github.com:RITIK-coder-1/pw-assignments.git
[submodule "MY_WEBSITES"]
	path = MY_WEBSITES
	url = git@github.com:RITIK-coder-1/my-projects.git
