*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
:root, body{
    height: 100%;
    width: 100%;
}

/* Tags */

body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
  
