*{
    box-sizing: border-box;
}
body, html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #000000, #242323);
}
h1{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
button{
    width: 100px;
    height: 30px;
    background-color: purple;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
}
input[type="submit"]{
    background-color: red;
    cursor: pointer;
}