@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&family=Noto+Sans+Linear+B&family=Poppins:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: poppins;
}

/* Navigation bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f3f75;
    color: aliceblue;
    height: 60px;
}
nav > img{
    width: 90px;
    height: 40px;
    margin-left: 15px;
}
nav > div > img{
    width: 30px;
    height: 20px;
}
nav > div{
    width: 120px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}
nav > ol{
    display: flex;
    list-style-type: none;
    font-size: 12px;
    align-items: center;
    gap: 25px;
    height: 30px;
}
nav  button{
    width: 120px;
    border-radius: 5px;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: aliceblue;
    background-color: #221f1f;
}
@media screen and (max-width: 580px) {
    nav button{
        display: none;
    }
    nav > ol{
        display: none;
    }
    nav > div{
        margin: 10;
        width: 30px;
    }
}
@media screen and (min-width: 580px) {
    nav > div > img{
        display: none;
    }
}

/* Section one */
.section1{
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.section1 div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    gap: 25px;
}
.SayHi{
    font-size: 28px;
    font-family: Manrope;
    font-weight: 700;
    position: relative;
    top: 29px;
}
.section1 h1{
    font-size: 58px;
    font-family: Manrope;
    font-weight: 800;
    color: #1893f7;
}
.CoFounders{
    font-size: 18px;
    font-family: Manrope;
    font-weight: 700;
    color: #1893f7;
}
.section1 img{
    width: 60%;
    height: 100px;
}
.section1 p{
    font-size: 18px;
    font-family: Manrope;
    color: #2c2c2c;
}
@media screen and (max-width: 580px) {
    .section1{
        height: 900px;
        flex-direction: column;
    }
    .section1 div, .section1 video{
        width: 100%;
        height: 50%;
    }
}

/* Section two */
.section2{
    height: 350px;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.NoHiddenFees{
    font-size: 48px;
    font-family: Manrope, sans-serif;
    font-weight: 800;
    color: blue;
    margin-bottom: 50px;
}
.NoAddFees{
    font-size: 24px;
}
@media screen and (max-width: 580px) {
    .section2{
        background-color: white;
    }
    .NoAddFees{
        color: black;
        font-weight: 400;
    }
}

/* Footer section */
footer{
    background-color: #1f1844;
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}
footer span{
    font-family: Manrope;
    font-weight: 700;
    font-size: 20px;
}
.OneCard{
    width: 350px;
}
.OneCard p, footer li{
    color: #a19b9b;
    list-style-type: none;
}
footer ol{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 20px;
}
.navigation, .policies{
    margin-top: 45px;
}
footer input, footer button{
    width: 250px;
    padding: 10px 5px 10px 10px;
    border-radius: 5px;
    border: none;
}
footer button{
    background-color: #3a3abe;
    color: aliceblue;
}
.Newsletter{
    margin-bottom: 30px;
    gap: 5px;
}
.Newsletter span{
    margin-bottom: 10px;
} 
.Newsletter input:focus{
    outline: none;
}
@media screen and (max-width: 580px) {
    footer{
        flex-direction: column;
        height: 950px;
        align-items: flex-start;
        justify-content: center;
        padding-left: 50px;
    }
    .Newsletter{
        margin-top: 30px;
    }
}