*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 150px;
}
h1{
    font-size: 50px;
    color: rebeccapurple;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
span{
    color: aliceblue;
    font-size: 50px;
}
button{
    background-color: red;
    color: aliceblue;
    width: 25px;
    height: 20px;
}