@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
:root, body{
    height: 100%;
    width: 100%;
}

/* tags  */

header{
    width: 100%;
    height: 650px;
    background-color: #ffb30e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    width: 100%;
    height: 78px;
    background-color: #F9FAFD;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav input{
    width: 193px;
    height: 29px;
    padding: 7px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #5a5959;
    transition: 0.5s;
}
header h1{
    font-size: 58px;
    font-family: Open Sans;
    font-weight: 800;
    color: #fff
}
header span{
    color:  #504F4F;
    font-size: 22px;
    font-family: Open Sans;
    font-weight: 700;
}
header > section{
    display: flex;
    padding: 0px 60px;
}
main{
    width: 100%;
    height: 518px;
}
main > section{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #FFCE67 , #FDEDCA);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
main h1{
    font-family: Open Sans;
    font-weight: 700;
    color: #F17228;
    font-size: 38px;
}
footer{
    background-color: #000;
    height: 150px;
    color: aliceblue;
    font-family: Open Sans;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span{
    color: #3488d1;
}

/* ids and classes */

#login{
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
    color: orange;
    cursor: pointer;
    padding: 10px;
    width: 100px;
    box-shadow: 1px 1px 1px 1px black;
}
#heading{
    font-size: 30px;
    color: #F17228;
}
#heading-container, #image-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}
#address{
    width: 550px;
    height: 150px;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#address > div{
    display: flex;
    gap: 10px;
}
#del-pick{
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 20px;
}
#address input{
    width: 393px;
    height: 29px;
    padding: 7px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #F5F5F5;
}
#address button{
    height: 29px;
    width: 120px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: Open Sans;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
#find-food{
    padding: 7px;
    width: 170px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right, #FF7A7A, #F65900);
    color: #fff;
    font-weight: 600;
    font-family: Open Sans;
} 
#how-this-works{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
#how-this-works > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Open Sans;
}
#how-this-works big{
    color: #000;
    font-weight: 600;
}
#how-this-works small{
    color: #302f2e;
}

/* Special Effects */

nav input:focus{
    outline-width: 5px;
    outline-color: #e68d5a;
    box-shadow: none;
}
#address input:focus{
    outline: none;
}
#find-food:hover{
    background: linear-gradient(#F17228, #F17228);
}